html {
    position:relative;
    animation: animatebottom 0.4s;
    overflow: auto;
    color: white;
    background-color: black;
}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}

body {
    color: white;
    font-family: 'Raleway', sans-serif;
}

input {
    height: 16px;
}

.tools {
    height: 100%;
    flex-direction: column;
    display:flex;
    overflow-x: hidden;
}
.sidenav button {
    border-color: white;
}

.sidenav a:hover, .dropdown-btn:hover {
    color: #247dff;
}


.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: #111;
}
  
.sideNavIFrameWrapper{
    display: flex;
}
.sidenav a, .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    flex-shrink: 0;
    color: white;
}

#bottomcontainer {
    margin-top: auto!important;
    width: 100%;
    margin-bottom: 30px;
    color: black!important;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-size: 20px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.dropdown-container {
    display: none;
    background-color: #595959;
    flex-shrink: 0;
}

.dropdown-container a {
    font-size: 15px;
    color:#A9A9A9;
}

#logo {
    height: 75px;
    display: block;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-left: 250px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
}

#frame {
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    margin: 0;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
    overflow: hidden;
}

.headertext {
    display: inline-block; /* or block */
    font-size: 30px; 
    text-align: center;
    background-color: #247dff;
    padding: 20px;
    width: 95%;
    color: white;
}


p, span, form, ol, dt, dl, legend {
    font-family: 'Raleway', sans-serif;
    color:white
}

button {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    border-color:  #247dff;
    background-color: #247dff;
    border-radius: 4px;
    color:white
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.centered {
    display: flex; /* flex behavior (displays children inline) */
    justify-content: center; /* horizontal centering */
    align-items: center; /* vertical centering */
    height: 100vh;
    margin: 0; 
    overflow-y: hidden;
}



.active {
    color: #6dae44;
}

td {
    border: 1px solid white;
    padding: 8px;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #247dff;
    border: 1px solid #fff;
    font-family: 'Raleway', sans-serif;
}

tr:hover {
    background-color: #111111;
}

 table {
    border-collapse: collapse;
    width: 100%;
 }

.input {
    background: none;
    border: none;
    color:black;
    border-bottom: solid 2px #474544;
    background-color: white;
    font-weight: 400;
    letter-spacing: 1px;
    padding:  10px;
}

select {
    min-width: 100px;
}

#runShow {
    background-color: green;
    border-color: green;
}

#collapsibleMenu {
    height: calc(100vh - 115px);
    width: 250px; /* Same as sidenav */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#collapsibleMenuContent {
    flex: 0 1 auto;
    overflow-x: hidden;
}

#collapsibleMenuButtonContainer {
    display: flex;
    align-items: center;
}

#collapsibleMenuButton {
    flex: 0 1 auto;
    text-align: center;
    font-size: 16px;
    font-weight: 700; /* bold */
    width: 30px;
    height: 30px;
    margin-left: 10px;
    margin-right: 5px;
}
